@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
   
  width: 0px !important;
 
  
}
.font-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
